body {
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid;
    border-color: black;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-left: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightgoldenrodyellow;
  color: black;
}

.navbar {
    background-color: lightblue;  
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.navbar-items {
    display: flex;  
    list-style-type: none;  
    margin: 0;
    padding: 0;
}


.navbar-item {
    text-align: center;
    padding: 10px;
}

.navbar-item a {
    display: block;  
    color: green; 
    text-decoration: none;
    padding: 10px; 
    font-size: 18px; 
}

.navbar-item a:hover {
    background-color: rgb(144, 200, 238);  
}

.cancel {
    background-color: red;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: -10px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.maincontainer {
    margin: auto;
    width: 75%;
    padding: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin: 10px;
}

#signUp {
    background-color: rgb(144, 200, 238);
    margin-top: 10px;
    font-size: medium;
}

.account{
    background-color: whitesmoke;
    border-radius: 15px;
    text-align: center;
    width: 275px;
    height: 300px;
}

#login {
    background-color: rgb(144, 200, 238);
}

.add {
    margin-top: 10px;
    background-color: rgb(144, 200, 238);
    font-size: medium;
}

.button {
    color: white;
    border-radius: 5px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addform {
    background-color: whitesmoke;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    height: 400px;
}

.formitem{
    display: flex;
    flex-direction: column;
    gap: 25px; 
    margin: 10px;
}