<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    <nav class = "navbar">
        <ul class = "navbar-items">
            {% if current_user.is_authenticated %}
            <li class = "navbar-item"><a href="{{ url_for('main.index')}}">Home</a></li>
            <li class = "navbar-item"><a href="{{ url_for('main.my_fun_stuff')}}">My Fun Stuff</a></li>
            <li class = "navbar-item"><a href="{{ url_for('main.my_music')}}">My Music</a></li>
            <li class = "navbar-item"><a href="{{ url_for('main.logout')}}">Logout</a></li>
            {% else %}
            <li class = "navbar-item"><a href="{{ url_for('main.login')}}">Login</a></li>
            <li class = "navbar-item"><a href="{{ url_for('main.register')}}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>