{% include "htmltop.html" %}

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
<div class="maincontainer">
    <div class="header-bar">
        <h1>My Favorite Music</h1>
        <form action="{{url_for('main.addmusic')}}">
            <button class="button add">Add Music</button>
        </form>
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <th></th>
        </tr>

        {% for p in playlist %}
        <tr>
            <td>{{p.title}}</td>
            <td>{{p.artist}}</td>
            <td>{{p.genre}}</td>
            <td>
                <form action="{{url_for('main.deletemusic', id = p.id)}}" method="POST">
                    <button class="button cancel">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% include "htmlbottom.html" %}